<div class="outer-container">
    <div class="logo-container"><img class="logo-design" src="../assets/ps-logo.jpeg" /></div>
    <div class="title-container">
      Sethia's and Mehta's can't wait to celebrate this special day with you!
    </div>
    <div class="details-container">
      <a class="directions button-ps" target="_blank" href="https://maps.app.goo.gl/4SPA9MWSVfBGAqCz6">Get Directions</a>
      <a class="directions button-ps" href="../assets/english-invite-priyanka.mp4"  download="Shubh weds priyanaka Sangeet & Wedding card">Invite</a>
      <a class="directions button-ps" href="#" download>Itenery</a>
      <a class="directions button-ps" href="../assets/wardrobe-planner-priyanka.mp4" download>Wardrobe Planner</a>
      <a class="directions button-ps" href="https://media.makeameme.org/created/dude-seriously-5c8c55.jpg">UPI ID</a>
    </div>
  </div>